{% extends 'base.html' %}

{% block title %}正在流行{% endblock %}

{% block content %}
<h1>正在流行</h1>
<div class="module">
<p>评论次数最多的歌曲：</p>
    <div class="flow">
        {% for post in posts %}
          <div class="music-box">
            <a href="{{ post.get_absolute_url }}"><h3>{{ post.name }}</h3></a>
            <p>上传者&nbsp:&nbsp{{ post.user }}&nbsp&nbsp&nbsp&nbsp
                创建于&nbsp:&nbsp{{ post.created|date:"SHORT_DATE_FORMAT" }}&nbsp&nbsp&nbsp&nbsp
                分类&nbsp:&nbsp{{ post.get_genre_display }}</p>
            <audio src="{{ post.audio_file.url }}" type="audio/mpeg" />
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}